<div class="modal-backdrop" (click)="closeModal()"></div>

<div class="modal-content">

    <h2 class="post-title">{{ post.title }}</h2>
    <p class="post-text">{{ post.content?.text }}</p>
    <img *ngIf="post.content?.imageUrl" [src]="post.content?.imageUrl" alt="Post image" class="post-image" />

    <div class="post-info">
        <span>{{ post.likes }} Likes</span>
        <span>{{ (comments$ | async)?.length || 0 }} Comments</span>
        <span>{{ post.createdAt | date:'short' }}</span>
    </div>

    <div class="comments-container">
        <h3 class="comments-title">Comments</h3>

        <ng-container *ngIf="loading$ | async; else commentsList">
            <p class="loading">Loading comments...</p>
        </ng-container>

        <ng-template #commentsList>
            <ng-container *ngIf="comments$ | async as comments">
                <div *ngIf="comments.length > 0; else noComments">
                    <div class="comment-item" *ngFor="let comment of comments">

                        <div *ngIf="editingCommentId === comment.id; else viewComment">
                            <form [formGroup]="editCommentForm" (ngSubmit)="saveEdit(comment.id)">
                                <input type="text" formControlName="text" />
                                <button type="submit" [disabled]="editCommentForm.invalid">Save</button>
                                <button type="button" (click)="cancelEdit()">Cancel</button>
                            </form>
                        </div>

                        <ng-template #viewComment>
                            <p class="comment-author">{{ comment.author?.username }}</p>
                            <p class="comment-text">{{ comment.text }}</p>
                            <span class="comment-date">{{ comment.createdAt | date:'short' }}</span>

                            <div class="comment-actions" *ngIf="isAuthor(comment)">
                                <button (click)="startEdit(comment)">Edit</button>
                                <button (click)="deleteComment(comment.id)">Delete</button>
                            </div>
                        </ng-template>

                    </div>
                </div>
            </ng-container>
        </ng-template>

        <ng-template #noComments>
            <p class="no-comments">No comments yet.</p>
        </ng-template>
    </div>

    <div class="add-comment">
        <form [formGroup]="commentForm" (ngSubmit)="addNewComment()">
            <input type="text" formControlName="text" placeholder="Write a comment..." />
            <button type="submit" [disabled]="commentForm.invalid">Add Comment</button>
        </form>
    </div>
</div>