<nav *ngIf="isLoggedIn$ | async" class="navbar">
    <div class="logo">
        <a routerLink="/">EduConnect</a>
    </div>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>

    <ul class="menu">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/posts">Posts</a></li>
        <li><a routerLink="/profile">My Profile</a></li>
        <li><a routerLink="/my-engagement">My engagement</a></li>
        <li><a (click)="logout()">Logout</a></li>
    </ul>
</nav>